* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: center;
    color: rgb(241, 16, 129); 
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container button {
    background-color: pink;
    border: none; 
    padding: 10px ;
}